<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToYouth</title>
  </head>
  <body style="margin: 20px">
    <h1>Bienvenido a ToYouth</h1>
    <br><br>
    <h2>Cree su cuenta </h2>
    <br>
    <form class="form-signin" action="/crear" method="post">
      <label>Nombre completo</label><br><br>
      <input type="text" name="fullname" value=""><br><br>
      <label>Email</label><br><br>
      <input type="text" name="email" value=""><br><br>
      <label>Password</label><br><br>
      <input type="password" name="password" value=""><br><br>
      <button type="submit" name="button">Crear Cuenta</button>
    </form>
  </body>
</html>
